
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.h1css{
    color: black;
    font-weight: bold;
    box-shadow: 5px 5px 15px 0.5;
}
.background {
    background: rgba(0, 0, 0, 0) url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.recherche {
    background-color: rgba(255, 255, 255, 0.452);
}

.image {
    width: 100%;
    height: auto;
}


.bouton {
    background-color: rgb(255, 240, 223);
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.logocss{
    height: 4rem;
    width: auto;
}


.opacitycss{
    background-color: rgba(37, 35, 35, 0.603);
    color: rgb(255, 255, 255);
}

.textcss{
    color: white;
}

.navigation{
    background-color: rgba(37, 35, 35, 0.603);
}